body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden; /* Hide overflow to prevent scrollbars */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative; /* Set position to relative for proper z-index usage */
}


    /* Style for the form labels */

#bg-video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; /* Set z-index to send it to the back */
}
 
.selected {
    background-color: #555;
    color: #fff;
}

h1{
    color: white;
}
.turn-message {
    font-weight: bold; /* Make the text bold */
    color: rgb(254, 255, 254);
    font-size: 50px;
}


#audio-bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2; /* Set z-index to send it behind the video */
    pointer-events: none; /* Allow clicking through the audio controls */
}

#container {
    text-align: center;
    z-index: 1; /* Set z-index to bring it to the front */
}
#level-btn{
       color: aqua;
       top: 0px;      
    }  

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px); /* Set width of each column */
    grid-template-rows: repeat(3, 100px); /* Set height of each row */
    grid-gap: 5px;
    max-width: 300px;
    margin: 0 auto; /* Center horizontally */
    padding: 10px;
}

.cell {
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px; /* Adjust font size for the symbols */
    color: black; /* Set color for the symbols */
    cursor: pointer;
}


.cell:hover {
    background-color: #ddd;
}

#restart-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: red; /* Set background color for restart button */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Add border-radius for rounded corners */
    margin-top: 20px; /* Add margin to separate from board */
}

#restart-btn:hover {
    background-color: darkred; /* Darken the background color on hover */
}

.result-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    display: none;
}

#result-message {
    font-size: 24px;
    margin-bottom: 20px;
}

#new-game-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2980b9;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Add border-radius for rounded corners */
}

#new-game-btn:hover {
    background-color: #34495e;
}
